.popup-win-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}


.popup-win-content {
  position: relative;
  background-image: url('../../Assets/chips_bckground.png');
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  max-width: 500px;
  width: 90%;
}

.popup-win-close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  background: transparent;
  font-size: 1.5em;
  cursor: pointer;
}

.popup-win-header {
  font-size: 2.5em;
  color: #ffffff;
  margin-bottom: 20px;
}

.popup-win-text {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 20px;
}

.popup-win-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.popup-win-button {
  background-color: #ff6600;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  outline: none;
}

.popup-win-button:hover {
  background-color: #ff9900;
}

.area {
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to top, #ff8700, #ff6600);
  z-index: 0; /* Ensure the circles appear above the background */
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1; /* Ensure the circles appear above the background */
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%; /* Make the circles round */
  animation: animate 25s linear infinite;
  bottom: -150px;
}

/* This generalized approach applies to all circles equally. */
@keyframes animate {
  0% {
    transform: translateY(0) translateX(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh) translateX(0) rotate(420deg); /* Move down the full height of the viewport */
    opacity: 0;
  }
}



