/* .App-home{
  position: relative;
  width: 100%;
}

.App-home img{
    width: 100%;
   height: auto;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
}

.click-to-play {
  position: absolute;
  right: 5%;
  bottom: 3%;
  background-color: #ff6600;
  width: 35%;
  height: 4.5%;
  border-radius: 15px;
  box-shadow: 10px 10px white;
  color: white;
  font-size: 55px;
  border: none;
} */

/* @font-face {
  font-family: 'Futura';
  src: local('Futura'), url(./Fonts/Futura/futura\ medium\ bt.ttf) format('truetype');
} */