body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "FuturaBook";
  src: local("FuturaBook"),
   url("./fonts/Futura/Futura Book font.ttf") format("truetype");
  font-weight: light;
 }

 @font-face {
  font-family: "FuturaXLBlack";
  src: local("FuturaXlBlack"),
   url("./fonts/Futura/Futura Extra Black font.ttf") format("truetype");
  font-weight: bold;
 }

 @font-face {
  font-family: "FuturaMedium";
  src: local("FuturaMedium"),
   url("./fonts/Futura/futura medium bt.ttf") format("truetype");
 }
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
