
.dashboard-content {
    background-image: url("../../Assets/chips_bckground.png");
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: calc(100vh - 100px); /* Ajustement de la hauteur pour éviter le chevauchement avec le footer */
    align-items: center;
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom: 100px;
  }

.dashboard-info{
    width: 70%;
}

h1.welcome{
    font-size: 40px;
    text-align: left;
    margin-bottom: 0;
}
h1 > em {
    color:#ff6600;
}

.dashboard-chips{
    display: flex;
    
    justify-content: flex-start;
    align-items: center;
    gap: 100px;
    padding-top: 0;
}
.dashboard-chips > p {
    font-size: 35px;
}
p > em{
    font-style: normal;
    color: #ff6600;
}

.play-now-btn {
    padding: 12px 20px; /* Ajustez si nécessaire */
    width: auto; /* S'adapte au contenu */
    max-width: 95%; /* Empêche le bouton de déborder de l'écran */
    box-sizing: border-box; /* Inclut le padding et la bordure dans la largeur totale */
  }

.dashboard-chips > a {
    background-color: #ee9053; /* Couleur de fond identique aux boutons Play Now */
    color: white; /* Texte en blanc */
    padding: 12px 20px; /* Ajustement du padding pour correspondre */
    font-size: 1em; /* Taille de la police identique */
    border-radius: 12px; /* Bordure arrondie comme les boutons Play Now */
    text-decoration: none; /* Pas de soulignement du texte */
    display: inline-block; /* Nécessaire pour appliquer padding et border-radius */
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.3); /* Ombre douce identique */
    transition: background-color 0.3s; /* Effet de transition au survol */
    text-align: center; /* Texte centré */
    margin: auto; /* Centrage du bouton */
    margin-bottom: 20px; /* Espacement en dessous du bouton, ajustez selon votre mise en page */
  }
  
  .dashboard-chips > a:hover {
    background-color: #e65c00; /* Changement de couleur au survol comme les boutons Play Now */
  }
  

.dashboard-games{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-bottom: 70px;
    margin-top: 35px;
    height: 50%;
    width: 90%;
}



  